.profile {
    background-color: #0e0e10;
}

.profile-top {
    display: flex;
    align-items: center;
}

.profile-top-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.profile-top-left > img {
    object-fit: contain;
    height: 100px;
    margin: 40px;
    border: 2px solid #35353a;
    border-radius: 50%;
    padding: 3px;
}

.profile-top-right {
    font-size: 30px;
}

.profile-top-right > i {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 40px;
    text-align: center;
}

.profile-top-right > .graybg {
    background-color: #35353a;
}

.profile-menu {
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 55px;
}

.profile-menu > h2 {
    margin-right: 15px;
    cursor: pointer;
}

.profile-menu > h2 > i {
    transform: rotate(45deg);
    margin-right: -5px;
}

.profile-menu > .active {
    color: #a970ff;
    border-bottom: 5px solid #a970ff;
    padding-bottom: 10px;
}

.profile-recent-items {
    display: flex;
}

.profile-recent {
    margin-left: 40px;
}

.profile-categories {
    margin-top: 40px;
}

.profile-categories > h2 {
    margin-bottom: 20px;
}

.profile-categories > h3 {
    margin-top: 10px;
}

.profile-categories > img {
    width: 300px;
    margin-right: 75px;
}